/* CustomCalendar.css */
.custom-calendar {
  width: 100%;
  border: none;
}

.react-calendar__tile {
    min-height: 100px;
  padding: 8px;
  vertical-align: top;
  position: relative;
  overflow-y: auto;
   max-height: 100%;
  overflow-y: auto;
}

.react-calendar__month-view__days__day--weekend {
  color: #444;
  gap: 6px;
   font-weight: 600;
  text-align: center;
  
}

.react-calendar__navigation {
  margin-bottom: 1rem;
}
